<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blogapp"
        tools:targetApi="31">
        
        <!-- Splash Activity (LAUNCHER) -->
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Blogapp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Activity -->
        <activity
            android:name=".auth.WelcomeActivity"
            android:exported="false" />

        <!-- Login Activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register Activity -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Add Blog Activity -->
        <activity
            android:name=".activities.AddBlogActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Blog Detail Activity -->
        <activity
            android:name=".activities.BlogDetailActivity"
            android:exported="false" />

        <!-- Profile Activity -->
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <!-- Saved Articles Activity -->
        <activity
            android:name=".activities.SavedArticlesActivity"
            android:exported="false" />

        <!-- My Blogs Activity -->
        <activity
            android:name=".activities.MyBlogsActivity"
            android:exported="false" />

    </application>

</manifest>